.termsSection {
    width: 100%;
    background: transparent;
    padding: 160px 20px;
}

.termsContainer {
    max-width: 1900px;
    /* margin: auto; */
    background: transparent;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* Headings */
.termsContainer h2 {
    font-size: 2rem;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
}

.termsContainer h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Text */
.termsContainer p {
    font-size: 0.95rem;
    color: white;
    line-height: 1.7;
    margin-bottom: 14px;
}

.updated {
    font-size: 0.85rem;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Lists */
.termsContainer ul {
    padding-left: 20px;
    margin-bottom: 15px;
}

.termsContainer li {
    font-size: 0.95rem;
    color: white;
    margin-bottom: 8px;
}

/* Divider */
.termsContainer hr {
    border: none;
    border-top: 1px solid #e5e7eb;
    margin: 30px 0;
}

/* Responsive */
@media (max-width: 600px) {
    .termsContainer {
        padding: 25px;
    }

    .termsContainer h2 {
        font-size: 1.6rem;
    }
}